pyrofork==2.3.41
tgcrypto==1.2.5
pymongo[srv]==4.6.1
motor==3.3.1
marshmallow==3.21.1
umongo==3.1.0
git+https://github.com/Joelkb/cinemagoer
search_engine_parser==0.6.8
wget==3.2
aiofiles==23.2.1
ffmpeg-python==0.2.0
requests==2.31.0
flask==3.0.3
